<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render 'admin/participant_programs/index/filter', q: @q %>
      <%= render 'admin/participant_programs/index/lists', participant_programs: @participant_programs %>
    </div>
  </div>
</div>
