<div class="row">
  <div class="col-md-12">
    <%= render 'admin/mentor_groups/index/filter', q: @q %>
    <%= render 'admin/mentor_groups/index/lists', mentor_groups: @mentor_groups %>
  </div>
</div>
