<div class="row">
  <div class="col-md-12">
    <div class="card rounded-0">
      <div class="card-body">
        <h3>New Program</h3>
        <%= render 'form', program: @program %>
      </div>
    </div>
  </div>
</div>  
