<div class="form-group">
  <% unless @users.empty? %>
    <label class="font-weight-bold">Choose tutors</label>
    <% @users.each do |user| %>
      <div>
        <label>
          <input type="checkbox" name="tutor_ids[]" value="<%= user.id %>">
          <%= user.name %>
        </label>
      </div>
    <% end %>
  <% else %>  
    <label class="font-weight-bold">No tutors available. This may be assigned to all tutors</label>
  <% end %>
</div>
