.text-site {
  color: #3f65d4;
}
.img-custom {
  width:100px;
}
.border-cc {
  border: 1px solid #ccc;
}
.lead-site {
  font-size: .9rem;
  font-weight: 400;
}
.alert-danger-site {
  color: #ffffff;
  background-color: #e74a3b;
  border-color: #e74a3b;
  border-radius: 0px;
}
.hidden-submit {
  display:none;
}
#assigned_tutors, #assigned_participants {
  display:none;
}

.title {
  font-weight: bold;
  cursor: pointer;
}

.title-save {
  cursor: pointer;
  background: url(/assets/ok-btn.svg) no-repeat;
  width: 39px;
}

#lecture_title {
  font-weight: bold;
  font-size: 1.1em;
}

.pagination li{
  width: 8%;
}
