<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card shadow rounded-0">
        <div class="card-body">
          <%= render "admin/users/show/user_details", user: @user %>
          <hr>
          <%= render "admin/users/show/user_programs", user: @user %>
        </div>
      </div>
    </div>
  </div>
</div>
